[Unit]
Description=Signature daemon

[Service]
Type=simple
Environment=FORTUNES=/home/jrk/prj/fortunes-personal
ExecStart=/bin/sh -c '${HOME}/.local/bin/signatured'

[Install]
WantedBy=default.target
